<div class="shame-login">
  <div class="shame-login__box">
    <div class="shame-login__body">
      <div class="shame-login__title">
        <%= I18n.t 'matilda_core.titles.recover_password' %>
      </div>
      <%= form_tag matilda_core.authentication_recover_password_action_path, method: :post, remote: true, data: { controller: 'form', action: 'ajax:success->form#validateResponse', 'form-redirect': matilda_core.authentication_recover_password_complete_view_path }, class: 'c-form c-grid__container-spaced' do %>
        
        <input class="shame-login__input" type="text" name="username_email" id="username_email" placeholder="<%= I18n.t 'matilda_core.helps.insert_username_or_email' %>" autocomplete="off" data-target="form.field" required>

        <div class="shame-login__action">
          <button class="c-button" data-target="form.submit"><%= I18n.t 'matilda_core.cta.confirm' %></button>
        </div>
      <% end %>
    </div>
    
    <div class="shame-login__body">
      <div class="shame-login__action">
        <div class="shame-login__checkbox-label"><%= I18n.t 'matilda_core.labels.back_to_login' %></div>
        <a class="c-button c-button--black" href="<%= matilda_core.authentication_login_view_path %>"><%= I18n.t 'matilda_core.cta.login' %></a>
      </div>
    </div>
  </div>
</div>