<form method="get">

<div class="c-section__content c-grid__container-spaced">
  <div class="c-container c-content">
    <%= render partial: 'panel/helpers/content-header', locals: { 
      path: { url: matilda_core.memberships_invitation_view_path, label: I18n.t('matilda_core.cta.invite') }, 
      search: I18n.t('matilda_core.helps.search_something'),
    }%>
    <div class="c-content__body">
      <div class="c-content__title"><%= I18n.t('matilda_core.titles.users_list') %></div>
        <% if @users.length.positive? %>
          <div class="c-table__responsive">
            <table class="c-table">
              <thead>
                <tr>
                  <th><%= I18n.t 'matilda_core.labels.name' %></th>
                  <th class="c-table__col-not-imp"><%= I18n.t 'matilda_core.labels.username' %></th>
                  <th class="c-table__col-not-imp"><%= I18n.t 'matilda_core.labels.email' %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td class="mobile">
                      <span><p><%= I18n.t 'matilda_core.labels.name' %></p><p><%= user.complete_name %></p></span>
                      <span><p><%= I18n.t 'matilda_core.labels.username' %></p><p>@<%= user.username.truncate(25) %></p></span>
                      <span><p><%= I18n.t 'matilda_core.labels.email' %></p><p><%= user.email %></p></span>
                    </td>
                    <td><%= user.complete_name %></td>
                    <td class="c-table__col-not-imp">@<%= user.username.truncate(25) %></td>
                    <td class="c-table__col-not-imp"><%= user.email %></td>
                    <td class="c-table__actions">
                      <a class="c-button" data-tippy-content="<%= I18n.t 'matilda_core.cta.manage' %>" data-controller="tippy" href="<%= matilda_core.memberships_manage_view_path(user_uuid: user.uuid) %>">
                        <i class="fas fa-edit"></i>
                      </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="c-pagination">
            <%= paginate @users %>
          </div>
        <% else %>
          <% if params[:s].blank? %>
            <div class="c-message">
              <div class="c-message__title"><%= I18n.t 'matilda_core.strings.no_data_found_title' %></div>
              <div class="c-message__content c-message__content--small">
                <%= I18n.t 'matilda_core.strings.no_data_found_content' %>.
              </div>
            </div>
          <% else %>
            <div class="c-message">
              <div class="c-message__title"><%= I18n.t 'matilda_core.strings.no_result_found_title' %></div>
              <div class="c-message__content c-message__content--small">
                <%= I18n.t 'matilda_core.strings.no_result_found_content' %> "<%= params[:s] %>".
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  
  </div>
</div>

</form>